<!DOCTYPE html>
<html>
<body>

<svg width="1000" height="800">
    {{#circles}}
        <circle cx="{{x}}" cy="{{y}}" r="{{r}}" stroke="#333333" stroke-width="2" fill="{{color}}"/>
    {{/circles}}
</svg>

</body>
</html>